<header>
  <h1>Covid-19 Tracker</h1>
</header>

<br><br>

<section class="mapContainer">
  <section id="mapid" style="width:95%;height:500px"></section>
</section>

<app-select-place></app-select-place>
<router-outlet></router-outlet>

<section>
  <table class="table table-bordered">
    <thead class="thead">
      <th scope="col" [appSort]="data" data-order="desc" data-name="where">Where</th>
      <th scope="col" [appSort]="data" data-order="desc" data-name="person">Person Reported</th>
      <th scope="col" [appSort]="data" data-order="desc" data-name="dateTime" data-type="date">Date of Visit</th>
      <th></th>
      <Th></Th>
    </thead>
    <tbody>
      <tr *ngFor="let element of data" [attr.id] = "element.id">
        <td>{{ element.where }}</td>
        <td>{{ element.person }}</td>
        <td>{{ element.dateTime }}</td>
        <td><button class="remove" (click)="remove(element.id)">REMOVE</button></td>
        <td><button class="info" (click)="moreInfo(element.id)">MORE INFO</button></td>
      </tr>
    </tbody>
  </table>
</section>

<br><br><br>